<%= title @timetable.route %>

<% @entries.group_by(&:vehicle).each do |vehicle,entries| %>
  <%= minititle Entry::vehicle(vehicle) %>
  <table id="<%= vehicle %>">
    <tr>
      <th><%= sortable 'departure' %></th>
      <th><%= sortable 'arrival' %></th>
      <th></th>
    </tr>
    <% entries.each do |entry| %>
      <tr>
        <td><%= entry.departure_time %></td>
        <td><%= entry.arrival_time %></td>
        <td><%= link_to t(:edit), edit_timetable_entry_path(@timetable,entry) %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= link_to new(:entry), new_timetable_entry_path(@timetable) %>
